#root {
  max-width: 100svw;
  max-height: 100svh;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: content-box;
}

.appContainer {
  display: grid;
  grid-template-areas:
    "search  search"
    "player sidebar"
    "controls sidebar";

  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 4fr 1fr;

  height: 100vh;
}

.searchBar {
  grid-area: search;
}

.videoPlayer {
  grid-area: player;
}

.videoController {
  grid-area: controls;
}

.sideBarVideo {
  grid-area: sidebar;
}
