.mini-video-card {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

/* 
.sidebar-videos:has(.mini-video-card:hover) .mini-video-card:not(:hover) {
    filter: blur(2px);
    transition: filter 0.3s ease;
} */

.thumbnail-container {
  position: relative;
  width: 168px;
  height: 94px;
  min-width: 168px;
  margin-right: 8px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 2px;
}

.content-container {
  flex: 1;
  padding: 0px 24px 0px 10px;
  text-align: left;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 1.2;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-name {
  font-size: 12px;
  color: #606060;
  margin-bottom: 4px;
}

.meta-info {
  display: flex;
  font-size: 12px;
  color: #606060;
  align-items: center;
}

.dot {
  margin: 0 4px;
}

.verified-badge {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.menu-button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #606060;
}

.menu-button:hover {
  background-color: #666;
}

.options-menu {
  position: absolute;
  top: 32px;
  right: 0;
  background-color: #606060;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 10;
  width: 224px;
}

.options-list {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.option-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.option-item:hover {
  background-color: #f2f2f2;
}

.option-icon {
  margin-right: 12px;
  width: 16px;
  height: 16px;
}
