.videoPlayer {
  position: relative;

  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin: 0 2rem;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 2rem;
}
.videoPlayer > iframe {
  border: none;
  flex: 3;
}
.videoPlayer > div {
  text-align: left;
  margin-left: 1rem;
  flex: 1;
}

/* Botón posicionado sobre el video, en la esquina superior derecha */
.theater-toggle-btn {
  background-color: transparent;
  position: absolute;
  top: 2rem;
  right: 15rem;
  z-index: 10;
  color: white;

  padding: 8px 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.theater-toggle-btn:hover {
  background-color: transparent;
  outline: none;
}

.theater-toggle-btn:hover::after {
  transform: scaleX(1);
}

.theater-toggle-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #666;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

/* Modo teatro */ .videoPlayer.theater {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  max-width: 1280px;
  max-height: 720px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
}
.videoPlayer.theater::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
  z-index: -1;
}
